

	<p id="notice"><%= notice %></p>

 <article class="post">
    <div class="line"></div>
    <header>
      <h3><%= @post.title %></h3>
      <p class="price">&pound;<%= @post.price %></p>
    </header>
    <small><%= @post.posttype.name %> | <%= link_to post.category.name, posts_path(:search => post.category.name), :class => "ajax-this-bitch", :remote => true%> | Negotiable Price</small>
    <p><%= @post.description %></p>
    <p><%= @post.description %></p>
    <p><%= @post.description %></p>
<br />

       <div class="owl-carousel">
                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/modern.png" alt="Modern Browsers">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/zombie.png" alt="Zombie Browsers - old ones">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/controls.png" alt="Take Control">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/feather.png" alt="Light">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/tons.png" alt="Tons of Opotions">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/modern.png" alt="Modern Browsers">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/zombie.png" alt="Zombie Browsers - old ones">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/controls.png" alt="Take Control">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/feather.png" alt="Light">
                </div>

                <div class="slide">
                  <img src="http://owlgraphic.com/owlcarousel/assets/img/demo-slides/tons.png" alt="Tons of Opotions">
                </div>
</div>

       <%= link_to "Back to search results", posts_path(:search => session[:search],:page => session[:page]), :title =>"Back to results", :remote => true, :class =>"button right ajax-this-bitch" %>


  </article>

