  <header><%
if(params[:search]) and (params[:search].present?)%>
<h1><span><%=@posts.total_entries%></span> Results found for '<%=params[:search]%>'</h1>
<% else %>
<h1>Latest Posts : <%=@posts.total_entries%></h1>
<% end %></header>

<%
if(@posts.total_entries<1)%>
<p>It seems that we can find anything relating to your search critera. Why don't you try some of our most popular searches?</p>
<a class="button right" href="/posts" id="all-posts">View all post</a>
<% else %>
<% @posts.each do |post| %>
  <article class="post">
    <div class="line"></div>
    <header>
      <h3><%= post.title %></h3>
      <p class="price">&pound;<%= post.price %></p>
    </header>
    <small><%= post.posttype.name %> | <a href=""><%= post.category.name %></a> | Negotiable Price</small>
    <p><%= post.description[0,360] +'...' %></p>
    <%= link_to 'More info', post, :class => "button right view-post", :remote => true %>
  </article>
<% end %>
<%= will_paginate @posts %>
<% end %>

